@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap");

$body-font-family: "Inter", sans-serif;

$toolbar-content-padding-y: 0px !default;

$toolbar-content-padding-x: 0px !default;

$autocomplete-enclosed-input-margin-top: 50px !default;
